<!-- registration form -->

<div class="feedback-form">

    <div class="feedback-form__info">
        <div class="feedback-form__background">
            <img src="./img/form-back.png" />
        </div>

        <h2 class="feedback-form__title">Заполните форму и начните развивать свой бизнес прямо сейчас!</h2>

        <p>
            Регистрация на нашем сайте занимает несколько минут, 
            просим ответить на все вопросы полностью и корректно! 
            После подтверждения регистрации вы попадёте в систему, 
            где большинство процессов автоматизированы, что сэкономит ваше время и деньги!
        </p>
    </div>

    <div class="feedback-form__form">
        <form id="regForm" name="regForm" action="">

            <section class="feedback-form__section active">
                <label for="name" class="feedback-form__label">Ваше имя
                    <input type="text" name="name" id="name" placeholder="Фролова Александра Васильевна" required />
                </label>
                <label for="company" class="feedback-form__label">Название Компании
                    <input type="text" name="company" id="company" placeholder="ООО Атлантика" required />
                </label>
                <label for="email" class="feedback-form__label">E-mail
                    <input type="email" name="email" id="email" placeholder="flolovaalexa@com.rur" required />
                </label>
                <label for="phone" class="feedback-form__label">Номер телефона
                    <input type="tel" name="phone" id="phone" placeholder="+7 (XXX) - XXX XX XX" required />
                </label>
                <label for="promocode" class="feedback-form__label">Промокод
                    <input type="text" name="promocode" id="promocode" placeholder="HGF864" />
                </label>

                <button class="btn btn--yellow" onclick="regFormOnClickForward()">Далее</button>
            </section>

            <section class="feedback-form__section feedback-form__section--pass">
                <label for="pass" class="feedback-form__label">Пароль
                    <input type="text" name="pass" id="pass" placeholder="Создайте пароль" required />
                </label>
                <label for="passRepeate" class="feedback-form__label">Подтвердите пароль
                    <input type="text" name="passRepeate" id="passRepeate" placeholder="Повторите пароль" required />
                </label>
                
                {% include "captcha.html" %}

                <label for="captcha" class="feedback-form__label">Введите символы из картинки
                    <input type="text" name="captcha" id="captcha" placeholder="Код из картинки" required />
                </label>

                <div class="btn-group">
                    <button class="btn btn--blue btn--back" onclick="regFormOnClickBack()">Назад</button>
                    <input type="submit" value="Подтвердить" class="btn btn--yellow btn--submit" onsubmit="onSubmit">
                </div>

                <div class="feedback-form__checkbox">
                    <input type="checkbox" class="checkbox" id="personalData" name="personalData" checked>
                    <span class="checkmark"></span>

                    <label for="personalData" class="">
                        Я даю согласие на обработку моих персональных данных и правовых документов
                    </label>

                </div>
            </section>
        </form>
    </div>
       
</div>