<div class="feedback-form">

    <div class="feedback-form__info">
        <div class="feedback-form__background">
            <img src="./img/form-back.png" />
        </div>

        <h2>Заполните форму и начните развивать свой бизнес прямо сейчас!</h2>

        <p>
            Регистрация на нашем сайте занимает несколько минут, 
            просим ответить на все вопросы полностью и корректно! 
            После подтверждения регистрации вы попадёте в систему, 
            где большинство процессов автоматизированы, что сэкономит ваше время и деньги!
        </p>
    </div>

    <div class="feedback-form__form">
        <form>
            <label class="feedback-form__label">Ваше имя
                <input type="text" placeholder="Фролова Александра Васильевна" />
            </label>
            <label class="feedback-form__label">Название Компании
                <input type="text" placeholder="ООО Атлантика" />
            </label>
            <label class="feedback-form__label">E-mail
                <input type="email" placeholder="flolovaalexa@com.rur" />
            </label>
            <label class="feedback-form__label">Номер телефона
                <input type="tel" placeholder="+7 (XXX) - XXX XX XX" />
            </label>
            <label class="feedback-form__label">Промокод
                <input type="text" placeholder="HGF864" />
            </label>

            <button class="btn btn--yellow">
                Далее
            </button>
        </form>
    </div>
       
</div>