<div class="feedback-form">

    <div class="feedback-form__info">
        <div class="feedback-form__background">
            <img src="./img/form-back.png" />
        </div>

        <h2>Заполните форму и начните развивать свой бизнес прямо сейчас!</h2>

        <p>
            Регистрация на нашем сайте занимает несколько минут, 
            просим ответить на все вопросы полностью и корректно! 
            После подтверждения регистрации вы попадёте в систему, 
            где большинство процессов автоматизированы, что сэкономит ваше время и деньги!
        </p>
    </div>

    <div class="feedback-form__form">
        <form id="regForm" action="">
            <section class="feedback-form__section">
                <label for="name" class="feedback-form__label">Ваше имя
                    <input type="text" name="name" id="name" placeholder="Фролова Александра Васильевна" required />
                </label>
                <label for="company" class="feedback-form__label">Название Компании
                    <input type="text" name="company" id="company" placeholder="ООО Атлантика" required />
                </label>
                <label for="email" class="feedback-form__label">E-mail
                    <input type="email" name="email" id="email" placeholder="flolovaalexa@com.rur" required />
                </label>
                <label for="phone" class="feedback-form__label">Номер телефона
                    <input type="tel" name="phone" id="phone" placeholder="+7 (XXX) - XXX XX XX" required />
                </label>
                <label for="promocode" class="feedback-form__label">Промокод
                    <input type="text" name="promocode" id="promocode" placeholder="HGF864" />
                </label>

                <input type="submit" value="Далее" class="btn btn--yellow" onsubmit="onSubmit">
            </section>

            <!-- <section class="feedback-form__section">
                <label for="name" class="feedback-form__label">Ваше имя
                    <input type="text" name="name" id="name" placeholder="Фролова Александра Васильевна" required />
                </label>
                <label for="company" class="feedback-form__label">Название Компании
                    <input type="text" name="company" id="company" placeholder="ООО Атлантика" required />
                </label>
                <label for="email" class="feedback-form__label">E-mail
                    <input type="email" name="email" id="email" placeholder="flolovaalexa@com.rur" required />
                </label>
                <label for="phone" class="feedback-form__label">Номер телефона
                    <input type="tel" name="phone" id="phone" placeholder="+7 (XXX) - XXX XX XX" required />
                </label>
                <label for="promocode" class="feedback-form__label">Промокод
                    <input type="text" name="promocode" id="promocode" placeholder="HGF864" />
                </label>

                <input type="submit" value="Далее" class="btn btn--yellow" onsubmit="onSubmit">
            </section> -->
        </form>
    </div>
       
</div>