<!-- footer component -->

<footer class="footer flex">

    <div class="footer__address">
        <h3>Наши офисы</h3>
        <div class="flex">
            <span>Московский офис</br>
                +7 455 267-89-07</br>
                Берсеневский пер., д. 56, стр. 4,
                6-й эт., Москва, 567754</span>

            <span>Ростовский офис</br>
                +7 878 888-01-67</br>
                Буденовский пр-т, д. 84, 6-й эт.,
                Ростов-на-Дону, 679965</span>
        </div>
    </div>

    <div class="footer__social">
        <h3>Мы в соц сетях</h3>
        <a href="#" class="footer__link">Instagram</a>
        <a href="#" class="footer__link">Facebook</a>
    </div>

    <div class="footer__feedback">
        <h3>Свяжитесь с нами</h3>
        <a href="tel:+36787547894" class="footer__link">+3 67 8754 7894</a>
        <a href="mailto:mflowers@flo.com" class="footer__link">mflowers@flo.com</a>

        <button class="btn btn--footer btn--yellow">Написать</button>
    </div>

    <span class="footer__copyright">Авторские права 2008-2022 M-flowers.com</span>

</footer>