/*------------------*
# Base
*------------------*/

html {
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: $base-font-size;
    // line-height: 1.5;
    // overflow-y: scroll;
    // min-height: 100%;
    // word-wrap: break-word;
    padding: 0;
    margin: 0;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    // align-items: stretch;
    // display: block;
    // display: flex;
    // flex-direction: column;
    // line-height: 1.5;
    // min-height: 100vh;
    // overflow-x: hidden;
    position: relative;
    width: 100%;
    background-color: $color-beige;
}

// .page-width {
//     width: 100%;
// }

.flex {
    display: flex;
    align-items: center;
}

.btn {
    border: none;
    background-color: transparent;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $color-darkgrey;

    &--yellow {
        background-color: $color-yellow;
    }

    &--blue {
        background-color: $color-paleblue;
    }
}