{% extends "base.html" %}

{% block content %}
<div class="main-content">
    
    <div class="background">
        <img src="./img/main-back.png" />
    </div>

    <div class="section banner">

        <div class="banner__center-block">
            <h1 class="banner__title">
                Мы будем рады сотрудничать с вами на платформе 'Международной цветочной онлайн-площадки'!
            </h1>

            <span class="banner__subtitle">
                Присоединяйтесь к нам и начните получать доход с бизнеса в первый месяц регистрации! 
            </span>

            <div class="btn-group">
                <button class="btn btn--yellow">
                    Начать покупать
                </button>

                <button class="btn btn--blue">
                    Начать продавать
                </button>
            </div>
        </div>

    </div>

</div>


<div class="section feedback">

    <div class="background">
        <img src="./img/second-back.jpg" />
    </div>

    {% include "feedback-form.html" %}

</div>

{% endblock %}
