/*------------------*
# Feedback Form
*------------------*/

.feedback-form {
    width: 1140px;
    padding: 80px;
    background-color: $color-beige;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include tablet {
        width: 100%;
        padding: 32px;
        flex-direction: column;
    }
    @include mobile {
        width: 100%;
        padding: 20px;
        flex-direction: column;
    }

    &__section {
        width: 100%;
        display: none;

        &.active {
            display: block;

            @include tablet {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
            }
        }

    }

    &__background {
        position: absolute;
        bottom: 0%;
        overflow: hidden;
        height: 36%;

        @include tablet {
            display: none; 
        }
        @include mobile {
            display: none; 
        }

        img {
            width: 95%;
        }
    }

    &__title {
        font-family: $marmelad;
    }

    &__info {
        flex-basis: 59.2%;
        color: $color-darkgrey;

        h2 {    
            font-weight: 400;
            margin-bottom: 40px;

            @include mobile {
                font-size: 24px;
                line-height: 29px;
                margin: 0;
            }
        }

        p {
            font-family: $raleway;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;

            @include mobile {
                font-size: 16px;
                line-height: 19px;
                margin: 32px 0;
            }
        }
    }

    &__form {
        flex-basis: 32.7%;
        
        @include tablet {
            margin-top: 58px;
        }
    }

    &__label {
        display: block;
        margin-bottom: 20px;
        width: 100%;
        font-family: $raleway;

        &:first-child {
            @include tablet {
                order: 0;
            }
        }
        &:nth-child(2) {
            @include tablet {
                order: 2;
            }
        }
        &:nth-child(4) {
            @include tablet {
                order: 4;
            }
        }

        @include tablet {
            flex-basis: 46.8%;
        }
        @include mobile {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            flex-basis: 100%;
        }
    }

    input {
        display: block;
        width: 100%;
        height: 48px;
        padding: 16px 8px;
        background: #FFF8E1;
        border: none;
        border-radius: 6px;
        margin-top: 10px;
        
    }

    .btn-group {
        @include tablet {
            order: 3;
            width: 46.8%;
        }
    }

    .btn {
        width: 100%;
        height: 51px;
        margin-top: 20px;
        background-color: $color-yellow;
        border-radius: 12px;
        
        @include tablet {
            width: 46.8%;
            order: 5;
        }
        
        &--back {
            width: 40%;
            display: inline-block;
            margin-right: 5px;
            background-color: $color-paleblue;
            margin-bottom: 20px;

            @include tablet {
                width: 36%;
            }
            @include mobile {
                width: 38%;
            }
        }

        &--submit {
            width: 57%;
            display: inline-block;
            margin-bottom: 20px;
        }
    }

    label, input {
        font-size: 14px;
        line-height: 18px;
        font-family: $raleway;

        &:focus, :focus-visible {
            outline: none;
            border: none;
        }
    }

    .captcha {
        margin-bottom: 20px;
        width: 320px;
        height: 94px;

        @include tablet {
            width: 46.8%;
            order: 1;
        }
        @include mobile {
            width: 100%;
            height: auto;
        }
          
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__checkbox {
        position: relative;
        display: flex;

        @include tablet {
            order: 5;
            width: 46.8%;
        }

        .checkbox {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 20px;
            width: 20px;
            margin-top: 0;
            z-index: 10;
            
            &:checked + .checkmark {
                background-color: #0E493F;
                
                &:after {
                    display: block;
                }
            }
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border-radius: 6px;

            &:after {
                content: "";
                display: none;
                position: absolute;
                background-image: url('../img/svg/checkmark.svg');
                background-repeat: no-repeat;
                left: 4px;
                top: 6px;
                width: 11px;
                height: 8px;
            }
        }

        label {
            padding-left: 40px;
        }
    }
}