.footer {
    padding: 80px 251px;
    background-color: $color-darkgrey;
    color: $color-beige;
    justify-content: space-between;
    align-items: flex-start;

    h3, a {
        color: $color-beige;
    }

    h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 24px;
    }

    a {
        text-decoration: none;
    }

    &__address {
        max-width: 42%;

        .flex {
            justify-content: space-between;

            span  {
                flex-basis: 43%;
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
            }
        }
    }

    &__link {
        display: block;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }

    .btn--footer {
        padding: 12px 32px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;

        &:after {
            content: '';
            display: inline-block;
            width: 18px;
            height: 15px;
            background-image: url('../img/svg/envelope.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            margin-left: 13px;
        }
    } 
}