.footer {
    padding: 80px 251px;
    background-color: $color-darkgrey;
    color: $color-beige;
    justify-content: space-between;
    align-items: flex-start;

    @include tablet {
        padding: 32px 24px;
        flex-flow: row wrap;
    }

    h3, a {
        color: $color-beige;
    }

    h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 24px;
    }

    a {
        text-decoration: none;
    }

    &__address {
        max-width: 42%;

        @include tablet {
            order: 1;
            margin-bottom: 48px;
            max-width: 40%;
        }

        .flex {
            justify-content: space-between;

            @include tablet {
                flex-direction: column;
            }

            span  {
                flex-basis: 43%;
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;

                @include tablet {
                    margin-bottom: 16px;
                }
            }
        }
    }

    &__social {
        @include tablet {
            order: 3;
            width: 60%;
        }
    }

    &__feedback {
        @include tablet {
            flex-basis: 35%;
            order: 2;
            align-self: flex-start;
        }
    }

    &__link {
        display: block;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
    }

    .btn--footer {
        padding: 12px 32px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;

        @include tablet {
            width: 98%;
            height: 48px;
        }

        &:after {
            content: '';
            display: inline-block;
            width: 18px;
            height: 15px;
            background-image: url('../img/svg/envelope.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            margin-left: 13px;
        }
    } 
}