/*------------------*
# Main Content
*------------------*/

.main-content {
    // height: calc(100vh - 130px);
    width: 100%;
    overflow: hidden;

    @include tablet {
        position: relative;
    }
    @include mobile {
        position: relative;
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
        width: 100%;
        height: 101vh;
        object-fit: cover;

        @include tablet {
            height: 100%;   
        }
        @include mobile {
            height: 100%;   
        }
    }
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
        padding: 40px;
    }
    @include mobile {
        padding: 20px;
    }
}

.banner {
    text-align: center;
    height: calc(100vh - 130px);

    @include tablet {
        height: 100%;   
    }

    &__center-block {
        width: 887px;
        padding: 60px 0;

        @include tablet {
            width: 100%;
        }
        @include mobile {
            width: 100%;
        }
    }

    &__title {
        font-family: $marmelad;
        font-weight: 400;
        font-size: 56px;
        line-height: 67px;
        margin-top: 0;
        margin-bottom: 40px;

        @include mobile {
            display: none;
        }

        &--mobile {
            display: none;

            @include mobile {
                display: block;
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 24px;
                padding: 0 15px;
            }
        }
    }

    &__subtitle {
        font-family: $raleway;
        display: block;
        font-weight: 300;
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 58px;

        @include mobile {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 24px;
            padding: 0 25px;
        }
    }

    .btn {
        margin: 0 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: $color-darkgrey;

        @include mobile {
            margin: 0;
            flex-basis: 48%;
            font-size: 4vw;
            line-height: 5vw;
            padding: 0;
        }

        &--yellow {
            width: 214px;
            height: 65px;

            @include mobile {
                height: 43px;
            }
        }
        
        &--blue {
            width: 242px;
            height: 69px;

            @include mobile {
                height: 43px;
            }
        }
    }

    .btn-group {
        @include mobile {
            display: flex;
            justify-content: space-between;
        }
    }
}

.feedback {
    position: relative;
    height: 100vh;

    @include tablet {
        height: 100%;   
    }
    @include mobile {
        height: 100%;   
    }
}